<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>WRI_Score</th>
    </tr>
    <tr>
      <th>Country_Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Vanuatu</th>
      <td>32.00</td>
    </tr>
    <tr>
      <th>Tonga</th>
      <td>29.08</td>
    </tr>
    <tr>
      <th>Philippinen</th>
      <td>24.32</td>
    </tr>
    <tr>
      <th>Salomonen</th>
      <td>23.51</td>
    </tr>
    <tr>
      <th>Guatemala</th>
      <td>20.88</td>
    </tr>
    <tr>
      <th>Bangladesch</th>
      <td>17.45</td>
    </tr>
    <tr>
      <th>Timor-Leste</th>
      <td>17.45</td>
    </tr>
    <tr>
      <th>Costa Rica</th>
      <td>16.74</td>
    </tr>
    <tr>
      <th>Kambodscha</th>
      <td>16.58</td>
    </tr>
    <tr>
      <th>El Salvador</th>
      <td>16.49</td>
    </tr>
    <tr>
      <th>Nicaragua</th>
      <td>15.74</td>
    </tr>
    <tr>
      <th>Papua-Neuguinea</th>
      <td>15.45</td>
    </tr>
    <tr>
      <th>Madagaskar</th>
      <td>14.46</td>
    </tr>
    <tr>
      <th>Brunei Darussalam</th>
      <td>14.08</td>
    </tr>
    <tr>
      <th>Afghanistan</th>
      <td>14.06</td>
    </tr>
    <tr>
      <th>Niger</th>
      <td>14.03</td>
    </tr>
    <tr>
      <th>Gambia</th>
      <td>13.90</td>
    </tr>
    <tr>
      <th>Bhutan</th>
      <td>13.65</td>
    </tr>
    <tr>
      <th>Fidschi</th>
      <td>13.57</td>
    </tr>
    <tr>
      <th>Guinea-Bissau</th>
      <td>13.12</td>
    </tr>
    <tr>
      <th>Jamaika</th>
      <td>12.89</td>
    </tr>
    <tr>
      <th>Tschad</th>
      <td>12.25</td>
    </tr>
    <tr>
      <th>Honduras</th>
      <td>12.10</td>
    </tr>
    <tr>
      <th>Dominikanische Republik</th>
      <td>12.00</td>
    </tr>
    <tr>
      <th>Chile</th>
      <td>11.97</td>
    </tr>
    <tr>
      <th>Mauritius</th>
      <td>11.91</td>
    </tr>
    <tr>
      <th>Senegal</th>
      <td>11.76</td>
    </tr>
    <tr>
      <th>Indonesien</th>
      <td>11.69</td>
    </tr>
    <tr>
      <th>Burkina Faso</th>
      <td>11.58</td>
    </tr>
    <tr>
      <th>Burundi</th>
      <td>11.56</td>
    </tr>
    <tr>
      <th>Mali</th>
      <td>11.51</td>
    </tr>
    <tr>
      <th>Haiti</th>
      <td>11.45</td>
    </tr>
    <tr>
      <th>Sierra Leone</th>
      <td>11.25</td>
    </tr>
    <tr>
      <th>Vietnam</th>
      <td>11.21</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>11.13</td>
    </tr>
    <tr>
      <th>Benin</th>
      <td>10.90</td>
    </tr>
    <tr>
      <th>Togo</th>
      <td>10.40</td>
    </tr>
    <tr>
      <th>Kamerun</th>
      <td>10.27</td>
    </tr>
    <tr>
      <th>Albanien</th>
      <td>9.98</td>
    </tr>
    <tr>
      <th>Mosambik</th>
      <td>9.98</td>
    </tr>
    <tr>
      <th>Mauretanien</th>
      <td>9.70</td>
    </tr>
    <tr>
      <th>Simbabwe</th>
      <td>9.63</td>
    </tr>
    <tr>
      <th>Guinea</th>
      <td>9.49</td>
    </tr>
    <tr>
      <th>Kap Verde</th>
      <td>9.47</td>
    </tr>
    <tr>
      <th>Usbekistan</th>
      <td>9.37</td>
    </tr>
    <tr>
      <th>Ghana</th>
      <td>9.35</td>
    </tr>
    <tr>
      <th>Suriname</th>
      <td>9.25</td>
    </tr>
    <tr>
      <th>Sudan</th>
      <td>9.25</td>
    </tr>
    <tr>
      <th>Liberia</th>
      <td>9.20</td>
    </tr>
    <tr>
      <th>Nigeria</th>
      <td>9.03</td>
    </tr>
    <tr>
      <th>Elfenbeinküste</th>
      <td>9.03</td>
    </tr>
    <tr>
      <th>Guyana</th>
      <td>9.02</td>
    </tr>
    <tr>
      <th>Malawi</th>
      <td>8.99</td>
    </tr>
    <tr>
      <th>Ecuador</th>
      <td>8.69</td>
    </tr>
    <tr>
      <th>Ruanda</th>
      <td>8.68</td>
    </tr>
    <tr>
      <th>Tansania</th>
      <td>8.64</td>
    </tr>
    <tr>
      <th>Myanmar</th>
      <td>8.54</td>
    </tr>
    <tr>
      <th>Kirgisistan</th>
      <td>8.48</td>
    </tr>
    <tr>
      <th>Sambia</th>
      <td>8.41</td>
    </tr>
    <tr>
      <th>Äthiopien</th>
      <td>8.27</td>
    </tr>
    <tr>
      <th>Algerien</th>
      <td>8.06</td>
    </tr>
    <tr>
      <th>Angola</th>
      <td>8.02</td>
    </tr>
    <tr>
      <th>Samoa</th>
      <td>7.88</td>
    </tr>
    <tr>
      <th>Lesotho</th>
      <td>7.86</td>
    </tr>
    <tr>
      <th>Sri Lanka</th>
      <td>7.84</td>
    </tr>
    <tr>
      <th>Pakistan</th>
      <td>7.84</td>
    </tr>
    <tr>
      <th>Kenia</th>
      <td>7.82</td>
    </tr>
    <tr>
      <th>Kongo</th>
      <td>7.71</td>
    </tr>
    <tr>
      <th>Niederlande</th>
      <td>7.71</td>
    </tr>
    <tr>
      <th>Panama</th>
      <td>7.70</td>
    </tr>
    <tr>
      <th>Indien</th>
      <td>7.68</td>
    </tr>
    <tr>
      <th>Uganda</th>
      <td>7.57</td>
    </tr>
    <tr>
      <th>Tadschikistan</th>
      <td>7.47</td>
    </tr>
    <tr>
      <th>Swasiland</th>
      <td>7.37</td>
    </tr>
    <tr>
      <th>Peru</th>
      <td>7.24</td>
    </tr>
    <tr>
      <th>Eritrea</th>
      <td>7.22</td>
    </tr>
    <tr>
      <th>Zentralafrikanische Republik</th>
      <td>7.18</td>
    </tr>
    <tr>
      <th>Marokko</th>
      <td>7.17</td>
    </tr>
    <tr>
      <th>Griechenland</th>
      <td>7.09</td>
    </tr>
    <tr>
      <th>Dschibuti</th>
      <td>7.05</td>
    </tr>
    <tr>
      <th>Georgien</th>
      <td>6.97</td>
    </tr>
    <tr>
      <th>Turkmenistan</th>
      <td>6.95</td>
    </tr>
    <tr>
      <th>Komoren</th>
      <td>6.93</td>
    </tr>
    <tr>
      <th>Armenien</th>
      <td>6.90</td>
    </tr>
    <tr>
      <th>Thailand</th>
      <td>6.86</td>
    </tr>
    <tr>
      <th>Kolumbien</th>
      <td>6.86</td>
    </tr>
    <tr>
      <th>Jemen</th>
      <td>6.83</td>
    </tr>
    <tr>
      <th>Aserbaidschan</th>
      <td>6.80</td>
    </tr>
    <tr>
      <th>Äquatorialguinea</th>
      <td>6.72</td>
    </tr>
    <tr>
      <th>Trinidad und Tobago</th>
      <td>6.70</td>
    </tr>
    <tr>
      <th>Malaysia</th>
      <td>6.69</td>
    </tr>
    <tr>
      <th>Namibia</th>
      <td>6.63</td>
    </tr>
    <tr>
      <th>Mexiko</th>
      <td>6.53</td>
    </tr>
    <tr>
      <th>Rumänien</th>
      <td>6.43</td>
    </tr>
    <tr>
      <th>China</th>
      <td>6.36</td>
    </tr>
    <tr>
      <th>Gabun</th>
      <td>6.30</td>
    </tr>
    <tr>
      <th>Bosnien und Herzegowina</th>
      <td>6.25</td>
    </tr>
    <tr>
      <th>Syrien</th>
      <td>6.19</td>
    </tr>
    <tr>
      <th>Nepal</th>
      <td>6.15</td>
    </tr>
    <tr>
      <th>Venezuela</th>
      <td>6.11</td>
    </tr>
    <tr>
      <th>Kuba</th>
      <td>5.99</td>
    </tr>
    <tr>
      <th>Belize</th>
      <td>5.93</td>
    </tr>
    <tr>
      <th>Mazedonien</th>
      <td>5.86</td>
    </tr>
    <tr>
      <th>Laos</th>
      <td>5.80</td>
    </tr>
    <tr>
      <th>Irak</th>
      <td>5.77</td>
    </tr>
    <tr>
      <th>Tunesien</th>
      <td>5.72</td>
    </tr>
    <tr>
      <th>Südafrika</th>
      <td>5.71</td>
    </tr>
    <tr>
      <th>Botsuana</th>
      <td>5.56</td>
    </tr>
    <tr>
      <th>Ungarn</th>
      <td>5.49</td>
    </tr>
    <tr>
      <th>Serbien</th>
      <td>5.44</td>
    </tr>
    <tr>
      <th>Türkei</th>
      <td>5.38</td>
    </tr>
    <tr>
      <th>Bolivien</th>
      <td>5.16</td>
    </tr>
    <tr>
      <th>Jordanien</th>
      <td>5.13</td>
    </tr>
    <tr>
      <th>Iran</th>
      <td>5.11</td>
    </tr>
    <tr>
      <th>Libanon</th>
      <td>5.01</td>
    </tr>
    <tr>
      <th>Moldau</th>
      <td>4.78</td>
    </tr>
    <tr>
      <th>Italien</th>
      <td>4.74</td>
    </tr>
    <tr>
      <th>Bahamas</th>
      <td>4.52</td>
    </tr>
    <tr>
      <th>Australien</th>
      <td>4.28</td>
    </tr>
    <tr>
      <th>Neuseeland</th>
      <td>4.28</td>
    </tr>
    <tr>
      <th>Brasilien</th>
      <td>4.26</td>
    </tr>
    <tr>
      <th>Irland</th>
      <td>4.15</td>
    </tr>
    <tr>
      <th>Tschechische Republik</th>
      <td>4.15</td>
    </tr>
    <tr>
      <th>Südkorea</th>
      <td>4.14</td>
    </tr>
    <tr>
      <th>Paraguay</th>
      <td>4.12</td>
    </tr>
    <tr>
      <th>Vereinigte Arabisch Emirate</th>
      <td>4.09</td>
    </tr>
    <tr>
      <th>Bulgarien</th>
      <td>4.08</td>
    </tr>
    <tr>
      <th>Kasachstan</th>
      <td>4.04</td>
    </tr>
    <tr>
      <th>Uruguay</th>
      <td>3.94</td>
    </tr>
    <tr>
      <th>Argentinien</th>
      <td>3.77</td>
    </tr>
    <tr>
      <th>São Tomé und Príncipe</th>
      <td>3.73</td>
    </tr>
    <tr>
      <th>Slowenien</th>
      <td>3.72</td>
    </tr>
    <tr>
      <th>Vereinigte Staaten v. A.</th>
      <td>3.72</td>
    </tr>
    <tr>
      <th>Kroatien</th>
      <td>3.71</td>
    </tr>
    <tr>
      <th>Kuwait</th>
      <td>3.71</td>
    </tr>
    <tr>
      <th>Libyen</th>
      <td>3.67</td>
    </tr>
    <tr>
      <th>Portugal</th>
      <td>3.62</td>
    </tr>
    <tr>
      <th>Vereinigtes Königreich</th>
      <td>3.61</td>
    </tr>
    <tr>
      <th>Russische Föderation</th>
      <td>3.56</td>
    </tr>
    <tr>
      <th>Belgien</th>
      <td>3.51</td>
    </tr>
    <tr>
      <th>Zypern</th>
      <td>3.46</td>
    </tr>
    <tr>
      <th>Mongolei</th>
      <td>3.43</td>
    </tr>
    <tr>
      <th>Polen</th>
      <td>3.42</td>
    </tr>
    <tr>
      <th>Österreich</th>
      <td>3.41</td>
    </tr>
    <tr>
      <th>Slowakei</th>
      <td>3.38</td>
    </tr>
    <tr>
      <th>Spanien</th>
      <td>3.29</td>
    </tr>
    <tr>
      <th>Lettland</th>
      <td>3.09</td>
    </tr>
    <tr>
      <th>Ukraine</th>
      <td>3.02</td>
    </tr>
    <tr>
      <th>Belarus</th>
      <td>2.98</td>
    </tr>
    <tr>
      <th>Deutschland</th>
      <td>2.96</td>
    </tr>
    <tr>
      <th>Litauen</th>
      <td>2.89</td>
    </tr>
    <tr>
      <th>Dänemark</th>
      <td>2.86</td>
    </tr>
    <tr>
      <th>Singapur</th>
      <td>2.85</td>
    </tr>
    <tr>
      <th>Oman</th>
      <td>2.80</td>
    </tr>
    <tr>
      <th>Frankreich</th>
      <td>2.76</td>
    </tr>
    <tr>
      <th>Luxemburg</th>
      <td>2.70</td>
    </tr>
    <tr>
      <th>Seychellen</th>
      <td>2.68</td>
    </tr>
    <tr>
      <th>Israel</th>
      <td>2.60</td>
    </tr>
    <tr>
      <th>Kanada</th>
      <td>2.57</td>
    </tr>
    <tr>
      <th>Schweiz</th>
      <td>2.55</td>
    </tr>
    <tr>
      <th>Barbados</th>
      <td>2.44</td>
    </tr>
    <tr>
      <th>Ägypten</th>
      <td>2.38</td>
    </tr>
    <tr>
      <th>Grenada</th>
      <td>2.29</td>
    </tr>
    <tr>
      <th>Norwegen</th>
      <td>2.28</td>
    </tr>
    <tr>
      <th>Estland</th>
      <td>2.25</td>
    </tr>
    <tr>
      <th>Finnland</th>
      <td>2.06</td>
    </tr>
    <tr>
      <th>Schweden</th>
      <td>2.00</td>
    </tr>
    <tr>
      <th>Kiribati</th>
      <td>1.88</td>
    </tr>
    <tr>
      <th>Bahrain</th>
      <td>1.66</td>
    </tr>
    <tr>
      <th>Island</th>
      <td>1.56</td>
    </tr>
    <tr>
      <th>Saudi-Arabien</th>
      <td>1.26</td>
    </tr>
    <tr>
      <th>Malta</th>
      <td>0.72</td>
    </tr>
    <tr>
      <th>Katar</th>
      <td>0.02</td>
    </tr>
  </tbody>
</table>